$peach: rgb(253, 156, 110);
$blue: #343a54;
$beige: #f5f0ee;

/*
██████╗ ████████╗███╗   ██╗
██╔══██╗╚══██╔══╝████╗  ██║
██████╔╝   ██║   ██╔██╗ ██║
██╔══██╗   ██║   ██║╚██╗██║
██████╔╝   ██║   ██║ ╚████║
╚═════╝    ╚═╝   ╚═╝  ╚═══╝
*/

.btn {
  background-color: $peach;
  color: white;
  font-weight: bold;
  border-radius: 1000000px;
  padding: 16px 32px;
  text-align: center;
  border-style: none;

  display: block;

  @media (min-width: 900px) {
    display: inline-block;
  }
}

/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/

[data-route="/"] {
  min-height: 100vh;

  .homepage {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("./images/backgroundHome.jpg");
    background-size: cover;
    text-align: center;
  }

  .btn.signup {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 3em;
    margin-top: 2em;
    font-size: 20px;
  }

  .container {
    margin-top: 12em;
  }

}


/*
██╗      ██████╗  ██████╗ ██╗███╗   ██╗    ██╗███████╗██╗ ██████╗ ███╗   ██╗██╗   ██╗██████╗ 
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║   ██╔╝██╔════╝██║██╔════╝ ████╗  ██║██║   ██║██╔══██╗
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║  ██╔╝ ███████╗██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝
██║     ██║   ██║██║   ██║██║██║╚██╗██║ ██╔╝  ╚════██║██║██║   ██║██║╚██╗██║██║   ██║██╔═══╝ 
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║██╔╝   ███████║██║╚██████╔╝██║ ╚████║╚██████╔╝██║     
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝╚═╝    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝ 
*/

[data-route="/login"],
[data-route="/register"] {
  min-height: 100vh;
  overflow: hidden;
  text-align: center;

  h1 {
    margin: 1.5em;
  }

  input {
    border-radius: 1000000px;
    border-style: none;
    display: block;
    padding: 1em;
    padding-right: 12em;
    margin: 1.5em;

    @media (min-width: 900px) {
      display: inline-block;
    }
  }
}

/*
███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝                                       
*/
.Navbar {
  background-color: $peach;
  display: flex;
  padding: 0.5em;
}

.navbar-link {
  text-decoration: none;
  margin: 1em;
}

/*
███████╗███████╗ █████╗ ██████╗  ██████╗██╗  ██╗
██╔════╝██╔════╝██╔══██╗██╔══██╗██╔════╝██║  ██║
███████╗█████╗  ███████║██████╔╝██║     ███████║
╚════██║██╔══╝  ██╔══██║██╔══██╗██║     ██╔══██║
███████║███████╗██║  ██║██║  ██║╚██████╗██║  ██║
╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝
*/
[data-route="/search"] {
  text-align: center;

  input {
    border-radius: 1000000px;
    border-style: none;
    display: block;
    padding: 1em;
    padding-right: 12em;
    margin: 1.5em;
  }
}