/*
 ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/
$peach: rgb(253, 156, 110);
$blue: #343a54;
$beige: #f5f0ee;
$gris: #4b4b4b;

/* 
██╗███╗   ██╗██████╗ ██╗   ██╗████████╗
██║████╗  ██║██╔══██╗██║   ██║╚══██╔══╝
██║██╔██╗ ██║██████╔╝██║   ██║   ██║   
██║██║╚██╗██║██╔═══╝ ██║   ██║   ██║   
██║██║ ╚████║██║     ╚██████╔╝   ██║   
╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝    ╚═╝   
*/
input {
  border-radius: 1000000px;
  border-style: none;
  display: block;
  padding: 1em;
  padding-right: 12em;
  margin: 1.5em;

  @media (min-width: 900px) {
    display: inline-block;
  }
}

/*
██████╗ ████████╗███╗   ██╗
██╔══██╗╚══██╔══╝████╗  ██║
██████╔╝   ██║   ██╔██╗ ██║
██╔══██╗   ██║   ██║╚██╗██║
██████╔╝   ██║   ██║ ╚████║
╚═════╝    ╚═╝   ╚═╝  ╚═══╝
*/

.btn {
  background-color: $peach;
  color: white;
  font-weight: bold;
  border-radius: 1000000px;
  padding: 16px 32px;
  text-align: center;
  border-style: none;
  display: block;

  @media (min-width: 900px) {
    display: inline-block;
  }
}

/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/
[data-route="/"] {
  min-height: 100vh;

  .homepage {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("./images/backgroundHome.jpg");
    background-size: cover;
    text-align: center;
  }

  .btn {
    background-color: rgba(253, 156, 110, 0.9);
  }

  .btn.signup {
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 3em;
    margin-top: 2em;
    font-size: 20px;
  }

  .container {
    margin-top: 12em;
  }
}

/*
███████╗██╗ ██████╗ ███╗   ██╗██╗   ██╗██████╗ 
██╔════╝██║██╔════╝ ████╗  ██║██║   ██║██╔══██╗
███████╗██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝
╚════██║██║██║   ██║██║╚██╗██║██║   ██║██╔═══╝ 
███████║██║╚██████╔╝██║ ╚████║╚██████╔╝██║     
╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝ 
*/
[data-route="/login"],
[data-route="/register"] {
  min-height: 100vh;
  overflow: hidden;
  text-align: center;

  h1 {
    margin: 1.5em;
  }

  .btn {
    // position: fixed;
    bottom: 0;
    margin-bottom: 2em;
  }
}

/*
███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝                                       
*/
.Navbar {
  background-color: $peach;
  display: flex;
  padding: 0.5em;
}

.navbar-link {
  text-decoration: none;
  color: white;
  margin: 1em;
}

/*
███████╗███████╗ █████╗ ██████╗  ██████╗██╗  ██╗
██╔════╝██╔════╝██╔══██╗██╔══██╗██╔════╝██║  ██║
███████╗█████╗  ███████║██████╔╝██║     ███████║
╚════██║██╔══╝  ██╔══██║██╔══██╗██║     ██╔══██║
███████║███████╗██║  ██║██║  ██║╚██████╗██║  ██║
╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝
*/
[data-route="/search"] {
  min-height: 100vh;
  overflow: hidden;
  text-align: center;

  p {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 3em;
    margin-top: 4em;
  }

  .btn {
    position: fixed;
    bottom: 0;
    margin-bottom: 2em;
  }

  input[type='text'] {
    background-image: url(./images/Loup-icon.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
    text-align: center;
  }

  input[type='date'] {
    background-image: url(./images/calendar-icon.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
    text-align: center;
  }

  input[type='number'] {
    background-image: url(./images/travelers-icon.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
    text-align: right;
  }
}

/*
███████╗██╗   ██╗███████╗███╗   ██╗████████╗███████╗    ██╗     ██╗███████╗████████╗
██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝    ██║     ██║██╔════╝╚══██╔══╝
█████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ███████╗    ██║     ██║███████╗   ██║   
██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ╚════██║    ██║     ██║╚════██║   ██║   
███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ███████║    ███████╗██║███████║   ██║   
╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝    ╚══════╝╚═╝╚══════╝   ╚═╝   
*/
[data-route="/results"] {

  .events-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  li {
    list-style: none;
    display: list-item;

  }

  li.search-city {
    list-style-image: url(./images/pin-point.png);
  }

  li.search-date {
    list-style-image: url(./images/calendar-icon.png);
  }

  li.search-meal {
    list-style-image: url(./images/calendar-icon.png);
  }

  li.search-guests {
    list-style-image: url(./images/travelers-icon.png);
  }

  .event-card {
    width: 292px;
    height: 431px;
    border-radius: 10px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;

    p {
      text-align: center;
      color: #4b4b4b;
      font-size: 13px;
    }

    h2 {
      text-align: center;
    }
  }

  .meal-image {
    width: 292px;
    height: 158px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}