.between3font {
  font-family: 'between3'
}

/*
 ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
 ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
*/
$peach: rgb(253, 156, 110);
$blue: #343a54;
$beige: #f5f0ee;
$gris: #4b4b4b;
$grisclair: rgba(189, 195, 199, 1);

/*
███████╗██████╗  █████╗  ██████╗██╗███╗   ██╗ ██████╗
██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗  ██║██╔════╝
███████╗██████╔╝███████║██║     ██║██╔██╗ ██║██║  ███╗
╚════██║██╔═══╝ ██╔══██║██║     ██║██║╚██╗██║██║   ██║
███████║██║     ██║  ██║╚██████╗██║██║ ╚████║╚██████╔╝
╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝╚═╝  ╚═══╝ ╚═════╝
*/
$w: 100px;

/*
██╗███╗   ██╗██████╗ ██╗   ██╗████████╗
██║████╗  ██║██╔══██╗██║   ██║╚══██╔══╝
██║██╔██╗ ██║██████╔╝██║   ██║   ██║
██║██║╚██╗██║██╔═══╝ ██║   ██║   ██║
██║██║ ╚████║██║     ╚██████╔╝   ██║
╚═╝╚═╝  ╚═══╝╚═╝      ╚═════╝    ╚═╝
*/
input {
  border-radius: 1000000px;
  border-style: none;
  display: block;
  // padding: 1em;
  height: 3.5em;
  width: 100%;
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 14px;

  @media (min-width: 900px) {
    display: inline-block;
  }
}

/*
██████╗ ████████╗███╗   ██╗
██╔══██╗╚══██╔══╝████╗  ██║
██████╔╝   ██║   ██╔██╗ ██║
██╔══██╗   ██║   ██║╚██╗██║
██████╔╝   ██║   ██║ ╚████║
╚═════╝    ╚═╝   ╚═╝  ╚═══╝
*/

.btn {
  background-color: $peach;
  color: white;
  font-weight: bold;
  //font-size: 14px;
  font-size: 0.9em;
  border-radius: 1000000px;
  // padding: 16px 32px;
  padding: 6%;
  text-align: center;
  border-style: none;
  display: block;
  width: 100%;
  height: 3.5em;
  margin-bottom: 0.5em;

  @media (min-width: 900px) {
    padding: 2.5%;
    width: 30%;
  }
}

/*
 ██████╗ ██████╗ ███╗   ██╗████████╗███████╗███╗   ██╗████████╗
██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝████╗  ██║╚══██╔══╝
██║     ██║   ██║██╔██╗ ██║   ██║   █████╗  ██╔██╗ ██║   ██║
██║     ██║   ██║██║╚██╗██║   ██║   ██╔══╝  ██║╚██╗██║   ██║
╚██████╗╚██████╔╝██║ ╚████║   ██║   ███████╗██║ ╚████║   ██║
 ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚═╝  ╚═══╝   ╚═╝
*/
.content {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
}

.page-content {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f5f0ee;
}

/*
 ██████╗ █████╗ ██████╗ ██████╗
██╔════╝██╔══██╗██╔══██╗██╔══██╗
██║     ███████║██████╔╝██║  ██║
██║     ██╔══██║██╔══██╗██║  ██║
╚██████╗██║  ██║██║  ██║██████╔╝
 ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝
*/
.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  margin-top: ($w/2);
  margin-bottom: 2em;
}

/*
██████╗  ██████╗ ██╗   ██╗███╗   ██╗██████╗     ██╗███╗   ███╗ █████╗  ██████╗ ███████╗
██╔══██╗██╔═══██╗██║   ██║████╗  ██║██╔══██╗    ██║████╗ ████║██╔══██╗██╔════╝ ██╔════╝
██████╔╝██║   ██║██║   ██║██╔██╗ ██║██║  ██║    ██║██╔████╔██║███████║██║  ███╗█████╗
██╔══██╗██║   ██║██║   ██║██║╚██╗██║██║  ██║    ██║██║╚██╔╝██║██╔══██║██║   ██║██╔══╝
██║  ██║╚██████╔╝╚██████╔╝██║ ╚████║██████╔╝    ██║██║ ╚═╝ ██║██║  ██║╚██████╔╝███████╗
╚═╝  ╚═╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═════╝     ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝
*/
//For rounding host image
.image-cropper {
  width: $w;
  height: $w;
  // position: absolute;
  // left: 50%;
  // top: 0;
  //transform: translate(-($w/2), -($w/2));
  overflow: hidden;
  border-radius: 50%;
  border: 4px white solid;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hostImg {
  display: inline;
  margin: 0 auto;
  // height: 100px;
  // width: auto;
}

/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝
███████║██║   ██║██╔████╔██║█████╗
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
*/
[data-route="/"] {
  min-height: 100vh;

  .homepage {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("/images/backgroundHome.jpg");
    background-size: cover;
    text-align: center;
  }

  .btn {
    background-color: rgba(253, 156, 110, 0.9);
    font-size: 19px;
    font-weight: normal;
    height: 3em;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 3em;
    margin-top: 2.7em;
    font-size: 19px;
  }

  .container {
    margin-top: 12em;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .display-block {
    display: block;
  }

  .display-none {
    display: none;
  }

  @media (min-width: 900px) {
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .container {
      padding-top: 6.2em;
    }

    .btn {
      padding: 1.9%;
    }
  }
}

.error {
  color: red;
}

/*
███████╗██╗ ██████╗ ███╗   ██╗██╗   ██╗██████╗
██╔════╝██║██╔════╝ ████╗  ██║██║   ██║██╔══██╗
███████╗██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝
╚════██║██║██║   ██║██║╚██╗██║██║   ██║██╔═══╝
███████║██║╚██████╔╝██║ ╚████║╚██████╔╝██║
╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝
*/
[data-route="/login"],
[data-route="/register"] {
  min-height: 100vh;
  overflow: hidden;
  text-align: center;

  h1 {
    margin: 1.5em;
  }

  p {
    margin-top: 0.1em;
  }
}

/*
███╗   ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗
████╗  ██║██╔══██╗██║   ██║██╔══██╗██╔══██╗██╔══██╗
██╔██╗ ██║███████║██║   ██║██████╔╝███████║██████╔╝
██║╚██╗██║██╔══██║╚██╗ ██╔╝██╔══██╗██╔══██║██╔══██╗
██║ ╚████║██║  ██║ ╚████╔╝ ██████╔╝██║  ██║██║  ██║
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
*/
.navbar {
  background-color: $peach;
  display: flex;
  padding: 0.5em;
  align-items: center;

  .logo {
    height: 1.3em;
    display: block;
  }

  .menu-nav {
    margin-left: auto;
  }
}

/*
███╗   ███╗███████╗███╗   ██╗██╗   ██╗
████╗ ████║██╔════╝████╗  ██║██║   ██║
██╔████╔██║█████╗  ██╔██╗ ██║██║   ██║
██║╚██╔╝██║██╔══╝  ██║╚██╗██║██║   ██║
██║ ╚═╝ ██║███████╗██║ ╚████║╚██████╔╝
╚═╝     ╚═╝╚══════╝╚═╝  ╚═══╝ ╚═════╝
*/

.menu-link {
  display: block;
  text-decoration: none;
  color: white;
  margin: 1.3em;
}

.menu-btn {
  //
  font-size: inherit;

  text-decoration: none;
  color: white;
  font-family: inherit;
  background-color: inherit;
  border-style: none;
  margin-left: auto;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $peach;
  padding: 0;
  text-align: center;
  z-index: 1;

  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;

  display: flex;
  align-items: center;

  >div {
    width: 100%;
  }

  .closebtn {
    height: 1em;

    position: absolute;
    right: 0;
    top: 0;
    background: url("/images/cross.svg") center no-repeat;
    background-size: contain;

    margin: .5em;
  }

  font-size:150%;
}

.openbtn {
  text-align: center;
}

.openbtn,
.closebtn {
  width: 3.2rem;
}

.menu.open {
  opacity: 1;
  pointer-events: auto;
}


/*
███████╗███████╗ █████╗ ██████╗  ██████╗██╗  ██╗
██╔════╝██╔════╝██╔══██╗██╔══██╗██╔════╝██║  ██║
███████╗█████╗  ███████║██████╔╝██║     ███████║
╚════██║██╔══╝  ██╔══██║██╔══██╗██║     ██╔══██║
███████║███████╗██║  ██║██║  ██║╚██████╗██║  ██║
╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝
*/
[data-route="/search"] {
  min-height: 100vh;
  overflow: hidden;
  text-align: center;

  p {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 3em;
    margin-top: 4em;
    margin-right: auto;
    margin-left: auto;
  }

  .btn {
    bottom: 0;
    margin-bottom: 2em;
  }

  input[name="place"],
  input[type="date"],
  input[name="meal"],
  input[type="number"] {
    background-position: 1em center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 1.5em;
  }

  input[name="place"] {
    background-image: url("/images/loupicon.svg");
  }

  input[type="date"] {
    background-image: url("/images/calendaricon.svg");

    background-color: white;
    padding: 0.8em;
  }

  input[type="number"] {
    background-image: url("/images/travelersicon.svg");
  }

  input[name="meal"] {
    background-image: url("/images/clockicon.svg");
  }
}

/*
███████╗██╗   ██╗███████╗███╗   ██╗████████╗███████╗    ██╗     ██╗███████╗████████╗
██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝    ██║     ██║██╔════╝╚══██╔══╝
█████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ███████╗    ██║     ██║███████╗   ██║
██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ╚════██║    ██║     ██║╚════██║   ██║
███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ███████║    ███████╗██║███████║   ██║
╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝    ╚══════╝╚═╝╚══════╝   ╚═╝
*/
[data-route="/results"] {
  .events-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;
    color: white;
  }

  h3 {
    margin-bottom: 0.1em;
  }

  ul {
    margin-top: 0.1em;
  }

  li {
    list-style: none;
    display: list-item;
    margin-bottom: 0.2em;
  }

  li.search-city {
    list-style-image: url("/images/pinicon.svg");
  }

  li.search-date {
    list-style-image: url("/images/calendaricon.svg");
  }

  li.search-meal {
    list-style-image: url("/images/clockicon.svg");
  }

  li.search-guests {
    list-style-image: url("/images/travelersicon.svg");
  }

  .event-card {
    background-color: #ffffff;
    border-radius: 10px;

    p {
      text-align: center;
      color: #4b4b4b;
      font-size: 13px;
      margin: 1.5em;
    }

    h2 {
      text-align: center;
    }
  }

  //to center host image at the top of the card
  .image-cropper {
    transform: translate(-($w/2), -($w/2));
    left: 50%;
    top: 0;
    position: absolute;
  }

  .meal-image {
    height: 158px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    object-fit: cover;
  }

  .loader {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
  }
}

/*
███████╗██╗   ██╗███████╗███╗   ██╗████████╗    ██████╗ ███████╗████████╗ █████╗ ██╗██╗
██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝    ██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║
█████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║       ██║  ██║█████╗     ██║   ███████║██║██║
██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║       ██║  ██║██╔══╝     ██║   ██╔══██║██║██║
███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║       ██████╔╝███████╗   ██║   ██║  ██║██║███████╗
╚══════╝  ╚═══╝  ╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝
*/
[data-route^="/eventdetail"] {
  min-height: 100vh;
  overflow: hidden;
  text-align: center;

  .event-meal-img {
    height: 20em;
    position: relative;
  }

  .arcshape {
    background-image: url("/images/arc-shape.svg");
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: -1px;
    background-position: center bottom;
    background-size: 100% auto;
  }

  .meal-image-detail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-cropper {
    transform: translate(52px, 245px);
    left: 50%;
    top: 0;
    position: absolute;
  }

  h2 {
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }

  p {
    color: #4b4b4b;
    font-size: 15px;
  }

  .host-detail {
    p {
      text-align: left;
      margin-top: 0.5em;
    }
  }

  .theevent {
    position: relative;
    z-index: 0;
  }

  .specialities-card {
    // width: fit-content;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // margin: auto;
    // position: relative;

    width: -webkit-fill-available;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-bottom: 1em;

    .menulogo {
      margin-top: 1.4em;
    }

    .specialities {
      margin-top: 0.3em;
      margin-bottom: 0.1em;
    }

    .date {
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }

    .askicon {
      transform: translate(110px, -20px);
    }

    .event-menu {
      text-align: left;
      margin: 0 1em;
      margin-bottom: 1em;
    }

    .menuitem {
      margin-top: 0.2em;
      margin-bottom: 0.2em;
      font-size: 1em;
    }

    h4 {
      color: $grisclair;
      margin-top: 0.2em;
      margin-bottom: 0.2em;
    }

    .menudetail {
      margin-top: 0.2em;
      margin-bottom: 1em;
    }
  }

  .button-card {
    display: flex;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-bottom: 2em;
    justify-content: center;

    flex-direction: column;

    .join-form {
      margin: 0 1em;
    }

    .add-guests {
      display: inline-flex;
    }

    hr {
      color: #909090;
      opacity: 0.5;
      margin: 0.2 0.5em;
    }
  }
}

/*
███╗   ███╗ █████╗ ██████╗
████╗ ████║██╔══██╗██╔══██╗
██╔████╔██║███████║██████╔╝
██║╚██╔╝██║██╔══██║██╔═══╝
██║ ╚═╝ ██║██║  ██║██║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝
*/
.EventMap {
  height: 16em;
  margin-bottom: 1em;

  .leaflet-container {
    height: 100%;
  }
}

/*

███████╗███████╗███╗   ██╗████████╗
██╔════╝██╔════╝████╗  ██║╚══██╔══╝
███████╗█████╗  ██╔██╗ ██║   ██║
    ═██║██╔══╝  ██║╚██╗██║   ██║
███████║███████╗██║ ╚████║   ██║
 ══════╝╚══════╝╚═╝  ╚═══╝   ╚═╝
*/
[data-route="/sent"] {
  min-height: 100vh;
  overflow: hidden;
  text-align: center;

  .sent .card {
    background-color: #5ba3b1;
    border-radius: 10px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.3);
    margin-top: 2em;
  }

  .content {
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title img {
    margin-top: 2em;
  }

  h1 {
    margin: 0;
    color: white;
  }

  p {
    margin: 0 auto 5em;
  }

  p {
    margin: 2em;
    color: white;
  }
}

/*
██████╗ ██████╗  ██████╗ ███████╗██╗██╗     ███████╗
██╔══██╗██╔══██╗██╔═══██╗██╔════╝██║██║     ██╔════╝
██████╔╝██████╔╝██║   ██║█████╗  ██║██║     █████╗
██╔═══╝ ██╔══██╗██║   ██║██╔══╝  ██║██║     ██╔══╝
██║     ██║  ██║╚██████╔╝██║     ██║███████╗███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚══════╝
*/
[data-route="/profile"] {
  .profile-card {
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
  }

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
  }

  h3 {
    color: $grisclair;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.5em;
  }

  p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 1em;
  }

  p.last-info {
    margin-bottom: 1em;
  }

  .reminder-card {
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-bottom: 1em;
    margin-top: 0.7em;
  }

  li {
    list-style: none;
  }

  li.city {
    list-style-image: url("/images/pinicon.svg");
  }

  li.date {
    list-style-image: url("/images/calendaricon.svg");
  }

  li.meal {
    list-style-image: url("/images/clockicon.svg");
  }

  li.guests {
    list-style-image: url("/images/travelersicon.svg");
  }
}

/*
 ██████╗ ██████╗ ███╗   ██╗███████╗██╗██████╗ ███╗   ███╗
██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔══██╗████╗ ████║
██║     ██║   ██║██╔██╗ ██║█████╗  ██║██████╔╝██╔████╔██║
██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██╔══██╗██║╚██╔╝██║
╚██████╗╚██████╔╝██║ ╚████║██║     ██║██║  ██║██║ ╚═╝ ██║
 ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝
*/
[data-route="/confirm"] {
  .recap-card {
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    margin-bottom: 1em;
    margin-top: 3em;
  }

  li {
    list-style: none;
  }

  li.place {
    list-style-image: url("/images/pinicon.svg");
  }

  li.date {
    list-style-image: url("/images/calendaricon.svg");
  }

  li.meal {
    list-style-image: url("/images/clockicon.svg");
  }

  li.guests {
    list-style-image: url("/images/travelersicon.svg");
  }
}

/*
███╗   ███╗ █████╗ ██████╗
████╗ ████║██╔══██╗██╔══██╗
██╔████╔██║███████║██████╔╝
██║╚██╔╝██║██╔══██║██╔═══╝
██║ ╚═╝ ██║██║  ██║██║
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝
*/
.EventMap {
  height: 16em;
}
